h1 {
    
    font-size: 40px;
    font-weight: 700;
    font-family:'Quattrocento Sans', sans-serif;
    text-align: center;
}

@media screen and (max-width: 858px)
{
    h1
    {
        font-size: 16px;
    }
}